:root {
  --primary-text-color: black;
}
body {
  font-family: "Roboto", sans-serif;
  color: black;
}

.header-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
}
.header-link:hover,
.header-link:focus {
  color: white;
  background-color: blue;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.contacts:hover,
.contacts:focus {
  color: white;
  background-color: blue;
}
.button:hover,
.button:focus {
  color: white;
  background-color: blue;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
.title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}
.text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
}
.header-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
}
